doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title ChatCat - Login
    link(rel='stylesheet', href='../css/loginStyles.css')
    script(src='/js/jquery-2.1.4.min.js')
  body
    .container
      .titlePanel
        h1 ChatCAT | Login
      .loginButton
        a(href='../build/rooms.html')
          img#loginBtnImg(src='../img/fbLoginBtn.png', alt='Sign-In with Facebook')
        a(href='../build/rooms.html')
          img#loginBtnImg(src='../img/twLoginBtn.png', alt='Sign-In with Twitter')
